*{
    margin: 0%;
    padding:0%;
    box-sizing: border-box;
}

.amazon_container{
    background-color: rgb(250, 250, 251);
    height: 100vh;
    .a_navbar{
        display: flex;
        height: 55px;
        background-color: rgb(0, 0, 0);
        .A{
            display: flex;
            color:rgb(168, 166, 166);
            img{
                margin-left: 20px;
                height: 55px;
            }
            .logo{
                margin-top: 20px;
                margin-left: 20px;
            }
            .text{
                padding-top: 10px;
                padding-left: 2px;
                padding-right: 15px;
                h5{
                    font-size: 13px;
                    font-weight: normal;
                    font-family:Arial, Helvetica, sans-serif;
                }
                p{
                    width: 54px;
                    color: white;
                    font-weight: bold;
                    font-family: Arial, Helvetica, sans-serif;
                }
            }
           
        }

        .branches{
            margin-left: 15px;
            display: flex;
            align-items: center;
            color: rgb(169, 165, 165);
            /* border: solid red 2px; */
            border-radius: 5px;
            background-color: white;
            padding-right: 850px;
            margin-top: 9.5px;
            margin-bottom: 9.5px;
            
            gap: 20px;
            width: 100px;
            .amazon_dropdown{
                padding-right: 10px;
                button{
                    height: 36.62px;
                    border-radius: 5px;
                    width: 52px;
                }
            }
            .search{
                p{
                    width: 200px;
                    text-transform: capitalize;
                }
            }
            .slogo{
                margin-left: 510px;
                background-color: rgb(242, 181, 69);
                border-radius: 6px;
                a{
                    font-size: 31px;
                    color: black;
                }
            }
        }

        .en{
            display: flex;

            img{
                height: 15px;
                margin-top: 25px;
                margin-left: 30px;

            }     
            .eng{
                margin-left: 5px;
                margin-top: 23px;
                color: white;
                font-size: 8px;
                font-weight: bold;
                font-family:Arial, Helvetica, sans-serif;
            }   
        }

        .hello{
            margin-top: 10px;
            margin-left: 25px;
            h1{
                color: white;
                font-size: 15px;  
                /* width: 200px; */
                font-weight: normal;
                }
                .a{
                    h1{
                    font-weight: bold ;
                    }
                }
            }
            
            .ret{
                width: 83px;
                h1{
                    margin-top: 10px;
                    font-size: 15px;
                    color: white;
                    margin-left: 20px;
                    font-weight: normal;
                    span{
                        font-weight: bold;
                    }


                    
                }
            }
            
            .cart{
                margin-left: 15px;
                margin-top: 10px;
                display: flex;
                a{color: white;
                    font-size: 35px;
                    margin-left: 10px;
                }
                h1{
                    margin-top: 10px;
                    font-size: 15px;
                    color: white;
                    margin-left: 10px;
                    font-weight: normal;
                    font-weight: bold;
                }
            }
        }
        .subnavbar{
            display: flex;
            background-color:#232F3E;
            justify-content: space-between;
            height: 40px;
            .all{

                margin-top: 7px;
                display: flex;
                gap: 20px;
                color: white;
                font-family: Arial, Helvetica, sans-serif;
                .p{
                    
                }
            }
            .dove{
                

                display: flex;
                gap: 60px;
                .bird{
                    margin-top: 5px;
                    font-size: 25px;
                    color: rgb(244, 243, 240)
                }
                h3{
                    margin-top: 7px;
                    margin-right: 15px;
                    color: white;
                    font-size: 20px;
                    text-transform: capitalize;
                    font-weight: bold;
                    
                    span{
                        color: orange;
                    }    
                    
                }
                
               
            }
        }



    }
